{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
  ],
  "compact": true,
  "comments": false,
  "ignore": [
    "node_modules",
    "**/*.test.js",
    "build/**",
    "public/**",
    "views/**"
  ]
}